.education-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #0563bb;
    position: relative;
  }
  
  .education-item  h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #0563bb;
    margin: 0px 0px 10px 0px;
  }
  
  .education-item  h5 {
    font-size: 16px;
    background: #f7f8f9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
  }
  
  .education-item  ul {
    padding-left: 20px;
  }
  
  .education-item  ul li {
    padding-bottom: 10px;
  }
  
  .education-item :last-child {
    padding-bottom: 0;
  }
  
  .education-item ::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #0563bb;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 1rem;
}